html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #f6f5f3 url("./images/bg.png");
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: auto;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::selection {
  background: rgb(224, 245, 255);
}

.text{
  width: 100%;
  border: 1px solid rgb(229, 229, 229);
  border-image: initial;
  border-radius: 5px;
  padding: 7px 9px 8px;
  font-size: 13px;
  box-sizing: border-box;
  outline: none;
  transition: 300ms border ease;
  user-select: none; // Чтоб не выделялся placeholder

  &:hover{
    border-color: #bdbdbd;
  }

  &:focus{
    border-color: rgb(61, 122, 221);
  }
}

.checkbox{
  position: relative;
  width: 20px;
  height: 20px;
  outline: none;
  flex-shrink: 0;

  &:after{
    content: ' ';
    display: block;
    position: absolute;
    background: #fff;
    width: 20px;
    height: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    transition: 300ms border ease, 300ms background ease;
  }

  &:hover:after{
    border-color: #bdbdbd;
  }

  &:focus:after,
  &:active:after{
    border-color: #3d7add;
  }

  &:active:after{
    background: #e2ebff;
  }

  &:before{
    content: ' ';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background: transparent;
    z-index: 1;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: 300ms background ease;
  }

  &:checked:before{
    background: #6797e4;
  }
}

.button{
  background: transparent;
  color: #3da8d9;
  cursor: pointer;
  padding: 5px 5px;
  margin: 0 -5px;
  position: relative;
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
  transition-property: border, color, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  font-size: 12px;
  user-select: none;

  &:hover{
    color: #e8a12e;
  }

  &:focus{
    border-color: #3d7add;
    color: #3da8d9;
  }

  &:active{
    border-color: #e8a12e;
    background: rgba(232, 161, 46, 0.08);
    color: #e8a12e;
  }

  &:disabled{
    color: #bdbdbd;

    &:hover{
      color: #a7a7a7;
    }
  }
}

.button_delete{

  &:hover{
    color: #d92733;
  }

  &:focus{
    border-color: #3d7add;

    &:hover{
      border-color: #d92733;
    }
  }

  &:active{
    border-color: #d92733;
    background: rgba(217, 39, 51, 0.08);
    color: #d92733;
  }
}

.todo-app{
  background: #fff;
  margin: 120px 0 100px;
  width: 550px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.03) -1px 4px 10px 0px;
  border-radius: 4px;
  border: 1px solid rgb(230, 230, 230);
}

.header{
  padding: 15px 15px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  position: relative;
}

.header__title{
  position: absolute;
  top: -102px;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 36px;
  color: rgb(51, 51, 51);
  user-select: none;
  cursor: default;
}

.header__toggle-all{
  margin-right: 15px;
}

.header__new-todo{
  padding-right: 25px;
}

.header__enter{
  position: absolute;
  right: 24px;
  top: 22px;
  color: #dedede;
  font-size: 16px;
  user-select: none;
  cursor: text;
}

.todo-list__empty-text{
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  padding: 40px;
  font-size: 26px;
  color: #ccc;
}

.todo-list__task{
  display: flex;
  padding: 10px 15px;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  color: #525252;
  font-size: 13px;
  letter-spacing: 0.2px;
  transition: 200ms background ease;

  &:hover{
    background: rgb(242, 244, 248);
    border-color: #e0e8f7;
    border-top: 1px solid #e0e8f7;
    margin-top: -1px;
    position: relative;

    .todo-list__delete{
      visibility: visible;
    }
  }
}

.todo-list__edit{
  flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  display: none;
  letter-spacing: 0.2px;
}

.todo-list__task_edit{
  background: #fafafa;

  &:hover{
    background: #fafafa;
  }

  .todo-list__description,
  .todo-list__delete{
    display: none;
  }

  .todo-list__edit{
    display: flex;
  }
}

.todo-list__toggle,
.todo-list__description{
  margin-right: 15px;
}

.todo-list__description{
  flex-grow: 1;
}

.todo-list__description_completed{
  text-decoration: line-through;
  color: #dadada;
}

.todo-list__delete{
  font-size: 11px;
  visibility: hidden;
}

.footer{
  padding: 12px 15px;
  font-size: 13px;
  color: #a5a5a5;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__count{
  user-select: none;
  cursor: default;
}

.filters{
  display: flex;
}

.filters__item{
  margin: 0 3px;
}

.filters__item_active{
  border-color: #e8a12e;
  color: #e8a12e;
}